<div class="form-group">
    <label for="destination">Destination:</label>
    <input type="text" class="form-control" name="destination" id="destination" value="{{trip.destiation}}" aria-describedby="destiation_help" placeholder="Enter your destination">
    <small id="destiation_help" class="form-text text-muted">Enter your destiation</small>
</div>
<div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" name="description" id="description" value="{{trip.description}}" aria-describedby="description_help" placeholder="Enter your description" >
    <small id="description_help" class="form-text text-muted">Enter your description</small>
</div>
<div class="form-group">
    <label for="start_date">Trave Date From:</label>
    <input type="date" class="form-control" name="start_date" id="start_date"  value="{{trip.start_date}}" aria-describedby="start_date_help" placeholder="mm/dd/yyyy">
    <small id="start_date_help" class="form-text text-muted">Enter your trip start date</small>
</div>
<div class="form-group">
    <label for="end_date">Trave Date To:</label>
    <input type="date" class="form-control" name="end_date" id="end_date"  value="{{trip.end_date}}" aria-describedby="end_date_help" placeholder="mm/dd/yyyy">
    <small id="end_date_help" class="form-text text-muted">Enter your trip end date</small>
</div>

