<form action="{% url 'users:do_login' %}" method="POST">
    {% csrf_token %}
    <h2>Login</h2>
{% include '_flash_msgs.html' %}
    <input type="hidden" name="next_pg" value="{{ next_pg }}" />
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" id="username" aria-describedby="username_help" placeholder="Enter your username">
        <small id="username_help" class="form-text text-muted">Enter your username</small>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
