    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" id="name" value="{{user.name}}" aria-describedby="name_help" placeholder="Enter your name">
        <small id="name_help" class="form-text text-muted">Enter your name</small>
    </div>
    {% comment %} <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" class="form-control" name="last_name" id="last_name" value="{{user.last_name}}" aria-describedby="last_name_help" placeholder="Enter your last name" >
        <small id="last_name_help" class="form-text text-muted">Enter your last name</small>
    </div> {% endcomment %}
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" id="username"  value="{{user.username}}" aria-describedby="username_help" placeholder="Enter your username">
        <small id="username_help" class="form-text text-muted">Enter your username</small>
    </div>
